<!-- app/views/static_pages/privacy_policy.html.erb -->
<div class="terms_policy">
<h3>プライバシーポリシー</h3>

<p>当方は、ストックサポーター（以下、「本アプリ」といいます。）上における、ユーザーの個人情報の取扱いについて、以下のとおりプライバシーポリシー（以下、「本ポリシー」といいます。）を定めます。</p>

<h4>第1条（個人情報に関する法令等の遵守）</h4>
<p>当方は個人情報に関する法令及びその他の規範を遵守します。</p>

<h4>第2条（個人情報の収集方法）</h4>
<p>当方は、ユーザーが利用登録をする際にメールアドレスの登録をお願いしております。</p>

<h4>第3条（個人情報を収集・利用する目的）</h4>
<p>当方が個人情報を収集・利用する目的は、以下のとおりです。</p>
<ul>
  <li>本アプリサービス提供・運営のため</li>
  <li>ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む）</li>
  <li>本アプリの新機能、更新情報の案内のメールを送付するため</li>
  <li>メンテナンス、重要なお知らせなど必要に応じたご連絡のため</li>
  <li>利用規約に違反したユーザーや、不正・不当な目的で本アプリを利用しようとするユーザーの特定・ご利用停止のため</li>
  <li>ユーザーにご自身の登録情報の閲覧や変更、削除、ご利用状況の閲覧を行っていただくため</li>
  <li>上記の利用目的に付随する目的</li>
</ul>

<h4>第4条（利用目的の変更）</h4>
<p>当方は、利用目的が変更前と関連性を有すると合理的に認められる場合に限り、個人情報の利用目的を変更するものとします。
変更後の目的については、当方所定の方法によりユーザーに通知または本アプリ上に公表します。</p>

<h4>第5条（個人情報の第三者提供及び開示）</h4>
<p>当方がユーザーから収集させていただいた個人情報は、以下の場合を除き、第三者に提供・開示しません。</p>
<ul>
  <li>収集目的の範囲内でサポート・ご案内等の業務を外部へ委託する場合</li>
  <li>本アプリの一部または全部が第三者サービスに依拠する場合で、維持のため必要な開示と判断される場合</li>
  <li>情報の開示や共有についてユーザーの同意がある場合</li>
  <li>法令に基づき公的機関（裁判所、警察等）から要請があった場合</li>
  <li>法令に特別の規定がある場合</li>
  <li>ユーザーや第三者の生命・身体・財産を損なうおそれがあり、同意を得ることが困難な場合</li>
  <li>当方の権利、財産またはサービスを保護・防御する必要があり、同意を得ることが困難な場合</li>
</ul>

<h4>第6条（個人情報の開示）</h4>
<p>本人から個人情報の開示を求められたときは、遅滞なくこれを開示します。ただし、以下に該当する場合は開示しないことがあります。</p>
<ul>
  <li>本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合</li>
  <li>当方の業務に著しい支障を及ぼすおそれがある場合</li>
  <li>法令に違反することとなる場合</li>
</ul>
<p>なお、履歴情報や特性情報など個人情報以外の情報については、原則として開示いたしません。</p>

<h4>第7条（個人情報の訂正および削除）</h4>
<p>ユーザーは、自己の個人情報が誤っている場合、当方に訂正、追加または削除（以下、「訂正等」といいます。）を請求できます。当方は、必要と判断した場合には、遅滞なく訂正等を行い、結果を通知します。</p>

<h4>第8条（個人情報の利用停止等）</h4>
<p>本人から、個人情報が利用目的の範囲を超えて取り扱われている、不正に取得されたという理由で利用停止等を求められた場合、必要な調査を行い、必要に応じて利用停止等を行い、その結果を通知します。なお、利用停止等に多額の費用がかかる場合は、これに代わる適切な対応を行います。</p>

<h4>第9条（プライバシーポリシーの変更）</h4>
<p>本ポリシーは、法令または別段の定めがある場合を除き、ユーザーに通知することなく変更できるものとします。変更後のプライバシーポリシーは、本アプリ上に掲載した時点から効力を生じます。</p>

<h4>第10条（お問い合わせ窓口）</h4>
<p>本ポリシーに関するお問い合わせは、下記の窓口までお願いいたします。</p>
<p>Eメールアドレス：<a href="mailto:lets.stock2025@gmail.com">lets.stock2025@gmail.com</a></p>

<p>以上</p>

</div>
