<div class="top-container">
  <h1>Let's stock!</h1>

  <!-- ランダムなコメントを表示 -->
  <p class="random-comment"><%= @random_comment || "コメントがありません" %></p>

  <div class="image-container">
    <%= image_tag 'top.jpg' %>
    <%= image_tag 'bousaiset.png' %>
  </div>
</div>
