<!-- app/views/stocks/emergency_kits/index.html.erb -->
<h1>防災バッグ一覧</h1>

<% if @emergency_kits.present? %>
  <ul>
    <% @emergency_kits.each do |emergency_kit| %>
      <li><%= emergency_kit.name %></li>
    <% end %>
  </ul>
<% else %>
  <p>防災バッグは一つもありません...</p>
  <%= image_tag 'nostock.png', style: 'width: 500px; height: 500px; position: absolute; top: 300px; left: 500px;' %>
<% end %>
