<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <%= link_to '/', class: 'navbar-brand d-flex align-items-center' do %>
        <%= image_tag 'logo.png', class: 'logo' %>
      <% end %>
  </nav>
</header>
