<header>
  <nav class='navbar navbar-expand-lg navigation navbar-light bg-light'>
    <%= link_to '/', class: 'navbar-brand' do %>
      <%= image_tag 'logo.png', class: 'logo', width: '200', height: '85', style: 'display: block; margin-left: 0px; margin-top: 25px;' %>
    <% end %>
  </nav>
</header>
