<div class="items-container">
  <% @items.each do |item| %>
    <div class="item-card">
      <div class="item-image">
        <%= link_to image_tag(item.params['mediumImageUrls'].first, size: "150x150"), item.params['itemUrl'], target: "_blank" %>
      </div>
      <div class="item-details">
        <h3><%= item.params['itemName'] %></h3>
        <p><%= item.params['itemCaption'] %></p>
      </div>
    </div>
  <% end %>
</div>
