<script src="https://unpkg.com/@hotwired/stimulus"></script>
<script src="https://unpkg.com/@hotwired/stimulus-loading"></script>

<div data-controller="category">
  <select data-category-target="categorySelect" data-action="change->category#toggleExtraInput">
    <option value="食料">食料</option>
    <option value="飲料">飲料</option>
    <option value="電気機器">電気機器</option>
    <option value="衣類">衣類</option>
    <option value="乾電池">乾電池</option>
    <option value="医療・衛生">医療・衛生</option>
  </select>

  <div id="extra-info-fields">
    <!-- 食料カテゴリの追加情報 -->
    <div data-category-target="extraFields" id="food-field" class="extra-field hidden">
      <label for="meal_count">食事数</label>
      <select id="meal_count" name="kit_item[meal_count]">
        <option value="1">1 食分</option>
        <option value="2">2 食分</option>
        <option value="3">3 食分</option>
        <option value="4">4 食分</option>
        <option value="5">5 食分</option>
      </select>
    </div>

    <!-- 飲料カテゴリの追加情報 -->
    <div data-category-target="extraFields" id="drink-field" class="extra-field hidden">
      <label for="volume">飲料のリットル数</label>
      <select id="volume" name="kit_item[volume]">
        <option value="1">1 リットル</option>
        <option value="2">2 リットル</option>
        <option value="3">3 リットル</option>
        <option value="4">4 リットル</option>
        <option value="5">5 リットル</option>
      </select>
    </div>

    <!-- その他カテゴリの追加情報 -->
    <div data-category-target="extraFields" id="electronics-field" class="extra-field hidden">
      電気機器の情報
    </div>

    <div data-category-target="extraFields" id="clothing-field" class="extra-field hidden">
      衣類の情報
    </div>

    <div data-category-target="extraFields" id="battery-field" class="extra-field hidden">
      乾電池の情報
    </div>

    <div data-category-target="extraFields" id="medical-field" class="extra-field hidden">
      医療・衛生の情報
    </div>
  </div>
</div>
