<p><%= @reminder.user.name %> さん</p>

<p>こんにちは。Stock Supporter からのお知らせです。</p>

<p>
  ご登録いただいている防災バッグ「<%= @reminder.emergency_kit.name %>」は<br>
  点検の目安となる期間（<%= @reminder.interval_months %>ヶ月）が経過しました。
</p>

<p>
  定期的な中身の確認・入れ替えをおすすめします。<br>
  Webサイトから内容の編集も可能です。
</p>

<p>
  ご確認はこちらから：<br>
  <a href="https://stock-supporter2025.com/emergency_kits/<%= @reminder.emergency_kit.id %>">
    防災バッグの詳細を見る
  </a>
</p>

<p>引き続き Stock Supporter をよろしくお願いいたします。</p>
