.kit_item_list {
  top: 22%;
  left: 35%;
  margin-bottom: 30px; /* アイテム間の間隔を20pxに設定 */
  list-style-type: none;
}

.kit_item_remind {
  .form-control {
    width: 150px; // 幅を短く設定
    max-width: 100%; // 必要に応じて親要素に収まるよう調整
  }
}
