/* app/assets/stylesheets/application.scss */

/* BootstrapのCSSをインポート */
@import "bootstrap";

/* ヘッダーの背景色をカスタマイズ */
.navbar {
  background-color: hwb(61 41% 2%) !important;
  font-size: 3rem;
  height: 85px;
}

.navbar .navbar-brand {
  align-items: center;
}
