/* ロゴサイズ調整 */
.logo {
  height: 100%; /* ヘッダーの高さに合わせる */
  max-height: none; /* 最大高さを制限しない */
  width: auto;
  object-fit: contain;
  margin: 0; /* 上下の隙間を無くすためにマージンをリセット */
}

/* ヘッダーの高さ調整 */
.navbar {
  height: 80px; /* ヘッダーの高さを指定（お好みに合わせて調整） */
  padding: 0; /* 内側の余白を0にして高さにフィットさせる */
  display: flex; /* フレックスボックスを使用して中央揃えにする */
  align-items: center; /* ロゴを縦方向で中央に配置 */
}

/* ナビゲーションリンク */
.nav-link {
  font-size: 16px;
  font-weight: bold;
  color: hwb(194 38% 3%);

  &:hover {
    color: rgb(242, 159, 91);
  }

  @media (max-width: 768px) {
    font-size: 14px;
    padding: 8px 12px;
  }
}

/* モバイル用に中央揃え */
.navbar-nav {
  align-items: center;
  text-align: center;
}

/* ナビゲーションメニューがハンバーガーメニューをクリックした際に前面に表示される */
.navbar-collapse {
  margin-top: 10px; /* メニューとハンバーガーボタンの間にスペースを追加 */
  z-index: 1050; /* メニューが前面に表示されるようにする */
  position: relative;
}

/* メニューが開いたときに背後のコンテンツを暗くする */
.navbar-collapse.show {
  position: fixed; /* メニューを画面に固定 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* メニューが全画面に表示される */
  background-color: rgba(0, 0, 0, 0.5); /* 背景色を暗くして視認性を向上 */
  z-index: 1050;
}
