/* ロゴサイズ調整 */
.logo {
  height: 100%;           // 親要素の高さに合わせる
  max-height: 80px;       // 安全にヘッダーの高さに収める（bootstrapのnavbarの高さ）
  width: auto;            // アスペクト比維持
  object-fit: contain;    // 高さにフィットして切れないように
  margin: 0;
  padding: 0;
  display: block;
}

/* ヘッダーの高さ調整 */
.navbar {
  height: 80px; /* ヘッダーの高さを指定（お好みに合わせて調整） */
  padding: 0; /* 内側の余白を0にして高さにフィットさせる */
  display: flex; /* フレックスボックスを使用して中央揃えにする */
  align-items: center; /* ロゴを縦方向で中央に配置 */
}

/* ナビゲーションリンク */
.nav-link {
  font-size: 24px;
  font-weight: bold;
  color: hwb(194 38% 3%);

  &:hover {
    color: rgb(242, 159, 91);
  }

  @media (max-width: 768px) {
    font-size: 14px;
    padding: 8px 12px;
  }
}

/* モバイル用に中央揃え */
.navbar-nav {
  align-items: center;
  text-align: center;
}

/* ナビゲーションメニューがハンバーガーメニューをクリックした際に前面に表示される */
.navbar-collapse {
  margin-top: 10px; /* メニューとハンバーガーボタンの間にスペースを追加 */
  z-index: 1050; /* メニューが前面に表示されるようにする */
  position: relative;
}

/* メニューが開いたときに背後のコンテンツを暗くする */
.navbar-collapse.show {
  position: fixed; /* メニューを画面に固定 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* メニューが全画面に表示される */
  background-color: rgba(0, 0, 0, 0.5); /* 背景色を暗くして視認性を向上 */
  z-index: 1050;
}

.navbar-brand {
  height: 80px;
  display: flex;
  align-items: center;
}
