.page-title {
  text-align: center;
  font-size: 2rem;
  color: #000000;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
}

.all-content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .stocks-list, .emergency-kits-list {
    width: 45%;  /* 両方のコンテンツを左右に配置 */
    padding: 10px;
  }
  
  .stocks-list h2, .emergency-kits-list h2 {
    text-align: center;
    font-size: 2rem;
    color: rgb(0, 0, 0);
  }
  
  .stock-item, .emergency-kit-item {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  @media screen and (max-width: 767px) {
    .all-content {
      flex-direction: column;
    }
  
    .stocks-list, .emergency-kits-list {
      width: 100%;  /* 小さい画面では縦に並べる */
    }
  }

  .hidden {
    display: none;
  }

  .mypage_contents {
    max-width: 600px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fdfdfd;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  }
  