.page-title1 {
  text-align: center;
  font-size: 5rem;
  margin-bottom: 20px;
  color: rgb(242, 159, 91);
}

.inner_container {
  margin: 20px auto;
  max-width: 800px;

  ul {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 20px;
      padding: 15px;
      background-color: #f9f9f9;
      border: 1px solid #ddd;
      border-radius: 5px;

      .button-container2 {
        margin-top: 10px;

        a.btn {
          margin-right: 10px;

          &.btn-secondary {
            background-color: #6c757d;
            color: #fff;
          }

          &.btn-danger {
            background-color: #dc3545;
            color: #fff;
          }
        }
      }
    }
  }
}

.inner_container-noitem {
  text-align: center;

  ul {
    padding: 0;

    li {
      display: inline-block;

      .btn-noitem {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}

.noitem {
  color: #999;
  font-size: 18px;
  margin-bottom: 20px;
}

.stocks-wrapper {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  margin-top: 2rem;
  flex-wrap: wrap;

  .stocks-container {
    flex: 1;
    min-width: 300px;

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      border-bottom: 2px solid #ccc;
      padding-bottom: 0.5rem;
    }

    ul {
      list-style: none;
      padding-left: 0;

      li {
        margin-bottom: 1rem;
      }
    }

  }

}
.stock-item {
  margin-bottom: 1rem;

  .stock-fields {
    display: flex;
    flex-wrap: wrap; // スマホ対応
  }

  .stock-field {
    white-space: nowrap; // 改行防止
    gap: 5rem;
  }
}
