<!-- app/views/layouts/shared_public.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>防災バッグ 共有</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
  </head>
  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
